<div class="signup-page">

  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('../assets/img/city.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              <form class="form" method="" action="">
                <div class="header header-primary text-center">
                  <h4>Sign In (Ops)</h4>

                </div>
                <p class="text-divider"></p>
                <div class="content">

                  <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                    <input type="text" class="form-control" placeholder="Email...">
                  </div>

                  <p class="text-divider"></p>



                  <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                    <input type="password" placeholder="Password..." class="form-control" />
                  </div>

                  <!-- If you want to add a checkbox to this form, uncomment this code

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                            Subscribe to newsletter
                                        </label>
                                    </div> -->
                </div>
                <div class="footer text-center">
                  <a href="#pablo" class="btn btn-simple btn-primary btn-lg">Get Started</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</div>
